body{
    display: flex;
    background: linear-gradient(rgb(255, 236, 65),rgb(107, 5, 5));
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    padding: 25px;
    background-color: rgba(255, 255, 255,50%);
    border-radius: 15px;
}

.container > h1{
    color: brown;
    font-size: 40px;
    margin: 10px;
}

.score{
    color: brown;
    width: 60%;
    display: flex;
    font-size: 20px;
}

.score > p{
    display: flex;
}

.game{
    align-content: center;
    justify-content: center;
    gap: 20px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 50vw;
}

.card{
    width: 14vw;
    height: 14vw;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 10px;
    font-size: 8vw;
    display: flex;
    background-color: white;
    transition: transform 0.25s linear ;
}

.card >img{
    object-fit: cover;
    width: 80%;
    height: 71%;
}

.hide{
    opacity: 0;
}

.clicked{
    transform: rotateY(180deg);

}

.card .back{
    display:none;
}

.correct{
    transform: rotateY(180deg);
    background-color: lightgreen;
}

.reset{
    padding: 10px;
    font-size: 20px;
    background-color: brown;
    border: 0;
    border-radius: 5px;
    color: white;
}